{{define "content"}}
<h2 class="tls-title">Certificates</h2>

<div class="tls-page">
    <div class="row">
        <div class="col-12 order-md-1">
            <table class="table table-hover">

                <thead>
                    <tr>
                        <th scope="th" style="width: 5rem;"></th>
                        <th scope="col">Name</th>
                        <th scope="col" class="text-right">Expiration Date</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Certs }}
                    <tr>
                        <td class="text-center" style="width:5rem">
                            <a data-toggle="tooltip" data-placement="bottom" class="table-icon text-primary"
                                href="/ui/cert/{{.ID}}/edit" title="Edit certificate">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a data-toggle="tooltip" data-placement="bottom" class="table-icon text-danger"
                                title="Delete certificate" href="/ui/cert/{{ .ID }}/delete">
                                <i class="fas fa-trash"></i>
                                </a>
                        </td>
                        <td>
                            <a data-toggle="tooltip" data-placement="bottom" href="/ui/cert/{{.ID}}"
                                title="View certificate">{{.CommonName}}</a>
                        </td>
                        <td class="text-right">
                            {{.Expiry}}
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{end}}