{{define "content"}}
<h2 class="tls-title">Certificates</h2>

<div class="tls-page">
    <div class="row">
        <div class="col-12 order-md-1">
            <table class="table table-hover">

                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col" class="text-right">Expiration  Date</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Certs }}
                    <tr>
                        <td>
                            <a href="/ui/cert/{{ .ID }}">{{.CommonName}}</a>
                        </td>
                        <td class="text-right">
                            {{.Expiry}}
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{end}}