{{define "content"}}


<h2 class="tls-title">Dashboard</h2>

<div class="tls-page">
  <div class="row">
    <div class="col-12 order-md-1">
      <div class="row border-bottom pb-1">
        <div class="col-8">
          <h4 class="mb-2 ">Stats</h4>
        </div>
        <div class="col-4">
          <a class="float-right mt-1" href="/ui/cert">View certificates</a>
        </div>
      </div>
        <div class="row mt-2">
          <div class="col-md-6 col-12 mb-3" >
              <h6>
                <span title="Total certificates" class="pull-left" data-toggle="tooltip" data-placement="bottom">
                  <label for="TotalCerts" class="text-muted font-weight-normal">Certificates:</label>
                  <txt>{{ .TotalCerts}}</txt>
                </span>
              </h6>
          </div>
          <div class="col-md-6 col-12 mb-3">
              <h6 class="float-right" title="Total renewed certificates" data-toggle="tooltip" data-placement="bottom">
                <label for="TotalRenewedCerts" class="text-muted font-weight-normal">Renewed certificates:</label>
                <txt>{{ .TotalRenewedCerts}}</txt>
              </h6>
          </div>
          <div class="col-md-6 col-12 mb-3">
              <h6>
                <span title="Total domains" data-toggle="tooltip" data-placement="bottom">
                  <label for="TotalDomains" class="text-muted font-weight-normal">Domains:</label>
                  <txt>{{ .TotalDomains}}</txt>
                </span>
              </h6>
          </div>
        </div>

    </div>
  </div>
  {{end}}