{{define "content"}}


<h2 class="tsl-title">Dashboard</h2>

<div class="tls-page">
  <div class="row">
    <div class="col-12 order-md-1">
      <div class="row border-bottom pb-1">
        <div class="col-8">
          <h4 class="mb-2 ">Stats</h4>
        </div>
        <div class="col-4">
          <a class="float-right mt-1" href="/ui/cert">View certificates</a>
        </div>
      </div>
        <div class="row">
          <div class="col-md-6 col-12 mb-3">
            <div title="Total certificates" data-toggle="tooltip" data-placement="bottom">
              <label for="TotalCerts" class="text-muted">Certificates</label>
              <txt>{{ .TotalCerts}}</txt>
            </div>
          </div>
          <div class="col-md-6 col-12 mb-3">
            <div title="Total renewed certificates" data-toggle="tooltip" data-placement="bottom">
              <label for="TotalRenewedCerts" class="text-muted float-right">Renewed certificates</label>
              <txt class="float-right">{{ .TotalRenewedCerts}}</txt>
            </div>
          </div>
          <div class="col-md-6 col-12 mb-3">
            <div title="Total domains" data-toggle="tooltip" data-placement="bottom">
              <label for="TotalDomains" class="text-muted">Domains</label>
              <txt>{{ .TotalDomains}}</txt>
            </div>
          </div>
        </div>

    </div>
  </div>
  {{end}}