{{define "content"}}

<div class="container">
  <h2 class="tls-title">Edit {{.Cert.CommonName}}</h2>
  <div class="tls-form">
    <form enctype="multipart/form-data" class="form-horizontal needs-validation" novalidate action="/ui/{{.ID}}/save"
      method="POST" novalidate>
      <input id="id" id="name" value="{{.Cert.ID}}" hidden />
      {{.CSRFField}}

      <div class="form-row">
        <div class="form-group col-lg-6 col-12">
          <label for="commonName">Common name</label>
          <input type="text" class="form-control" id="commonName" placeholder="" value="{{.CommonName}}" required>
          <div class="invalid-feedback">
            Common name is required.
          </div>
        </div>
        <div class="form-group col-lg-6 col-12">
          <label for="renew-at">Renew At (Days)</label>
          <div class="input-group">
            <input type="text" class="form-control" id="renew-at" placeholder="" name="renewAt" value="{{.RenewAt}}">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <label for="domains">Domains</label>
          <input type="text" class="form-control" id="domains" name="domains" placeholder="" value="{{.Domains}}">
        </div>
      </div>

      <button class="btn btn-primary" type="submit" id="submit-form">Save</button>
      <button style="display:none;" id="form-working-message" class="btn btn-primary" disabled><i
          class="fas fa-spinner glyphicon-spin"></i> Loading...</button>
    </form>
  </div>
</div>

{{end}}