{{define "content"}}

<div class="container">
  <div class="py-5">
    <h2>{{.CommonName}}</h2>
  </div>

  <div class="row">

    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Certificate</h4>
      <form class="needs-validation" novalidate action="/ui/{{.ID}}/save" method="POST">

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="commonName">Common name</label>
            <input type="text" class="form-control" id="commonName"
             placeholder="" value="{{.CommonName}}" readonly>
          </div>

          <div class="col-md-6 mb-3">
            <label for="domains">Domains</label>
            <input type="text" class="form-control" id="domains" name="domains" placeholder="" value="{{.Domains}}">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="renew-at">Renew At (Days)</label>
            <div class="input-group">
              <input type="text" class="form-control" id="renew-at"
              placeholder="" name="renewAt" value="{{.RenewAt}}" >
            </div>
          </div>
        </div>
        {{.CSRFField}}
        <input type="submit" value="Save">
</form>
    </div>
  </div>

  {{end}}