{{define "login"}}
<!DOCTYPE html>
<html>

{{template "head" .Head}}

<body class="text-center">
  <div class="container">
    <main class="content" role="main">
      <form class="form-signin">
        <img class="mb-4" src="/static/images/tlsential_web_logo.svg" alt="TLSential" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; ImageWare Systems Inc. 2020</p>
      </form>
    </main>
  </div>
</body>

</html>
{{end}}