.tls-form {
  position: relative;
  padding: 1rem;
  margin: 1rem -15px 0;
  /* border: solid $light; */
  border: solid #f8f9fa;
  border-width: 0.2rem 0 0;
}
.container {
  max-width: 960px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.border-top-gray {
  border-top-color: #adb5bd;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.lh-condensed {
  line-height: 1.25;
}

html body {
  background-color: #f2f2f2;
}

html,
body {
  height: 100%;
}

/* main.login {
display: -ms-flexbox;
display: -webkit-box;
display: flex;
-ms-flex-align: center;
-ms-flex-pack: center;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
padding-top: 40px;
padding-bottom: 40px;
background-color: #f2f2f2;
} */

.form-signin {
  width: 100%;
  max-width: 448px;
  padding: 15px;
  background: white;
  margin-top: 4rem;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  transform: translate3d(var(--auto-translate-x), var(--auto-translate-y), 0);
  transform-origin: 0% 0%;
  width: calc(100% * var(--auto-scale-x));
  height: calc(100% * var(--auto-scale-y));
  will-change: transform, width, height;
  box-sizing: border-box;
  position: absolute;

  .checkbox {
    font-weight: 400;
  }
  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-control:focus {
    z-index: 2;
  }
  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.tls-navbar-dark {
  min-height: 3.5rem;
  background-color: #f2f2f2;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  position: sticky !important;
  top: 0;
  z-index: 1071;
  color: #007bff;
}

.tls-page {
  width: 100%;
  padding: 15px;
  background: white;
  margin-top: 1rem;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  transform: translate3d(var(--auto-translate-x), var(--auto-translate-y), 0);
  transform-origin: 0% 0%;
  width: calc(100% * var(--auto-scale-x));
  height: calc(100% * var(--auto-scale-y));
  will-change: transform, width, height;
  box-sizing: border-box;
  /* position: absolute;  */
}
.tsl-title {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
}
