// Include bootstrap
@import '~bootstrap/scss/bootstrap.scss';


$dropdown-link-color: $gray-900;
$dropdown-link-active-color: $white;
$dropdown-header-color: $white;

$navbar-light-color: #808080;
$navbar-light-active-color: #1e1e1e;
$navbar-light-toggler-border-color: #808080;

$navbar-dark-color: rgba($white, .75);
$navbar-dark-hover-color: $white;
$navbar-dark-active-color: $white;
$navbar-dark-disabled-color: rgba($white, .25);

$jumbotron-bg: rgba(235,235,235,0.95);

$modal-lg: 1000px;
$modal-md: 800px;
$modal-sm: 500px;

$input-btn-focus-color: rgba($secondary, .25);
$input-focus-border-color: lighten($light, 25%);


$modal-header-border-color: darken($light, 10%);

.tls-navbar-light {
  min-height: 3.5rem;
  background-color: $light;
  box-shadow: 0 0.25rem .5rem rgba(0,0,0,.01), inset 0 -1px 0 rgba(0,0,0,.1);
  position: sticky !important;
  top: 0;
  z-index: 1071;
}

.tls-navbar-dark {
  min-height: 3.5rem;
  background-color: $primary;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
  position: sticky !important;
  top: 0;
  z-index: 1071;
}

.tls-form {
  position: relative;
  padding: 1rem;
  margin: 1rem -15px 0;
  border: solid $light;
}
.container {
  max-width: 960px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.border-top-gray {
  border-top-color: #adb5bd;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.lh-condensed {
  line-height: 1.25;
}

html body {
  background-color: $white;
}

html,
body {
  height: 100%;
}

/* main.login {
display: -ms-flexbox;
display: -webkit-box;
display: flex;
-ms-flex-align: center;
-ms-flex-pack: center;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
padding-top: 40px;
padding-bottom: 40px;
background-color: $light;
} */

.form-signin {
  width: 100%;
  max-width: 448px;
  padding: 15px;
  background: white;
  margin-top: 4rem;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  transform: translate3d(var(--auto-translate-x), var(--auto-translate-y), 0);
  transform-origin: 0% 0%;
  width: calc(100% * var(--auto-scale-x));
  height: calc(100% * var(--auto-scale-y));
  will-change: transform, width, height;
  box-sizing: border-box;
  position: absolute;

  .checkbox {
    font-weight: 400;
  }
  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-control:focus {
    z-index: 2;
  }
  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.tls-navbar-dark {
  min-height: 3.5rem;
  background-color: $light;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  position: sticky !important;
  top: 0;
  z-index: 1071;
  color: $primary;
}

.tls-page {
  width: 100%;
  padding: 15px;
  background: white;
  margin-top: 1rem;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  transform: translate3d(var(--auto-translate-x), var(--auto-translate-y), 0);
  transform-origin: 0% 0%;
  width: calc(100% * var(--auto-scale-x));
  height: calc(100% * var(--auto-scale-y));
  will-change: transform, width, height;
  box-sizing: border-box;
  /* position: absolute;  */
}
.tls-title {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 300;

}
.tsl-footer {
  background-color: $light;
}
.table-icon {
  font-size: 1.2rem;
  line-height: 1.2;
  padding-right: 0.25rem !important;
}

/*Loading button*/
.glyphicon-spin {
  -webkit-animation: spin .7s infinite linear;
  animation: spin .7s infinite linear;
  font-weight: 400;
}

@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}